<section class="container-fluid" style="background-color: #a7cbf1;">
  <div class="row">
    <div class="col p-0">
      <nav class="navbar navbar-light py-1" style="background-color: #98c4f3b2;">

        <ul class="nav navbar-nav navbar-logo mx-auto">
          <li class="nav-item">
            <a class="nav-link webTitle" href="#">Jorge Guerrero</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="row ">
    <div class="col p-0">
      <div class="parallax">
        <div class="container">
          <div class="transparentCover">
            <h1 class="display-5 fontTitle">Building, Designing & Implementing</h1>
            <p class="lead fontBody">Starting a website it's like planting a seed. With good care and dedication it could grow into a beautiful and
              profitable tree.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row section-padding fontBody">
    <div class="col-lg-4 text-center">
      <img src="/assets/me.jpg" class="profilePic rounded-circle">
    </div>
    <div class="col-lg-7">
      <div class="aboutMeBox p-2">
        <h3 class="fontTitle">Little about me...</h3>
        <div class="fontBody">
          <p>19th year-old young leader. Foreign film enthusiast. Music and video games are part of my life. Studying to become
            a proud full stacked web developer. </p>
          <p>I'm a fan of the japanese culture for many reason, clean enviroment, modest look at life and very polite lifestyle.</p>
          <p>I love to help people around me. I feel like today it might be them but tomorrow I will be the one seeking for aid.
            This POV in life has helped me in different ways so don't plan to change.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col p-0">
        <div class="parallax-middle">
          <div class="container">
            <div class="transparentCover"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row py-5">
      <div class="col">
        <div>
          <h2 class="pt-4 pb-3 m-0 header">Education (So far)</h2>
          <div class="my-3">
            <h5 class="fontTitle text-pink">High School Diploma</h5>
            <p>Graduated from Early College High School as part of the top 10% of my class, consisting of almost 300 students. While in high school I was part of a program called GearUp. This program help me to grow as a person polishing many of my people skils and leadership habilities.</p>
            <h5 class="fontTitle text-pink">South Texas College Graduated</h5>
            <p>During my high school, I had many dual credit classes that enabled me to progress further into my post-secondary education. Now I'm a graduate at the age of 18 years-old.</p>
            <h5 class="fontTitle text-pink">Persuing to become a Computer Engineer at UTRGV</h5>
            <p>My interest in computer and coding goes far beyond web developement. I want to create, build and implement my own ideas. Innovate the world in my own way. As a sophomore looking to finish and complete my arsenal for my dreams.</p>
          </div>
        </div>
    </div>
    <div class="col">
        <h2 class="pt-4 pb-3 m-0 header">Tech Skilss</h2>
      <h5 class="pt-1 pb-2 fontTitle">HTML</h5>
      <div class="progress fontBody">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0"
        aria-valuemax="100" style="width: 60%"></div>
      </div>
      <h5 class="pt-1 pb-2 fontTitle">JavaScript</h5>
      <div class="progress fontBody">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0"
        aria-valuemax="100" style="width: 80%"></div>
      </div>
      <h5 class="pt-1 pb-2 fontTitle">WordPress</h5>
      <div class="progress fontBody">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0"
        aria-valuemax="100" style="width: 20%"></div>
      </div>
      <h5 class="pt-1 pb-2 fontTitle">CSS</h5>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0"
          aria-valuemax="100" style="width: 50%"></div>
        </div>
        <h5 class="pt-1 pb-2 fontTitle">Bootstrap</h5>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0"
          aria-valuemax="100" style="width: 40%"></div>
        </div>
        <h5 class="pt-1 pb-2 fontTitle">C++</h5>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0"
          aria-valuemax="100" style="width: 67%"></div>
        </div>
    </div>
  </div>
  <div class="row">
      <div class="col p-0">
        <div class="parallax-bot">
          <div class="container">
            <div class="transparentCover"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2 class="header pt-4 pb-3 text-center">Work Experience</h2>
      </div>
    </div>
  <div class="row my-4">
    <div class="col">
      <h5 class="fontTitle text-pink">To Do App</h5>
      <p>Developed in Angular 2. In this ToDo App has basic CRUD(create, read, update, delete) functions. With the help of bootstrap, googleFonts and fontAwesome libraries. Check it out <a href="https://github.com/jorgegro/todoApp">here</a>.</p>
      <img src="/assets/ToDoApp.png"  width="685px">
    </div>
    <div class="col">
      <div class="">
        <h5 class="fontTitle text-pink">ID generator</h5>
        <p>Developed with raw HTML, CSS and JavaScript. With this ID generator you can fill up a form that uses that information to populate an web id. <a href="https://jorgegro.github.io/idcardapp/">demo</a></p>
        <div class="text-centerpb-4 pt-2">
          <img  src="/assets/IdGenerator.png" alt="https://jorgegro.github.io/idcardapp/" class="border border-secondary" width="685px" height="421.7px">
        </div>
        <h5 class="fontTitle text-pink">Infant and Family Nutrition Agency</h5>
        <p>Developed a WordPress project for a non-profit organization. <a href="#">Infant and Family Nutrition Agency</a> their goal is to provide parental guideness for young and unexperice parents. All of their services are completly free. With those regiments. We could build a responsive Word Press website for announcements, appointments, online consultance, etc.</p>
      </div>
    </div>
  </div>
  <div class="row fontBody">
    <div class="col px-0">
      <div class="footer text-center py-2">
        <div>Jorge Guerrero</div>
        <div>
          <i class="far fa-envelope"></i> jorgegro1999@gmail.com</div>
        <a class="footer-icon" href="https://www.facebook.com/jorge.a.guerrerobarragan">
          <i class="i fab fa-facebook-square text-muted"></i>
        </a>
        <a class="footer-icon" href="https://twitter.com/jorge_gro14">
          <i class="i fab fa-twitter text-muted"></i>
        </a>
        <a class="footer-icon" href="https://github.com/jorgegro">
          <i class="i fab fa-github text-muted"></i>
        </a>
        <a class="footer-icon" href="https://www.linkedin.com/in/jorge-guerrero-222334167/">
          <i class="i fab fa-linkedin text-muted"></i>
        </a>
        <a class="footer-icon" href="https://www.instagram.com/jorgi_gro/">
          <i class="i fab fa-instagram text-muted"></i>
        </a>
        <a class="footer-icon" href="https://plus.google.com/u/0/112360755530858705087">
          <i class="i fab fa-google-plus-square text-muted"></i>
        </a>
      </div>
    </div>
  </div>
  
</section>
