section{
  letter-spacing: 175%;
}

.padx{
  padding-left: 10%;
  padding-right: 10%;
}

.next{
  position: absolute;
  bottom: 0;
  left: 50%;
  color: #ffffff;
  -webkit-animation-duration: 6s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
}
/* parallaxes settings */
.parallax {
  /* The image used */
  background-image: url("/assets/pablo-gentile-587380-unsplash.jpg");
  /* Set a specific height */
  height: 100vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-middle {
  background-image: url("/assets/benjamin-hung-340384-unsplash.jpg");
  /* Set a specific height */
  height: 100vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-bot{
  background-image: url("/assets/clem-onojeghuo-486844-unsplash_Fotor.jpg");
  /* Set a specific height */
  height: 100vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position-y: 20%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Jumbotron settings */
.text-pink{
    color: rgb(97, 146, 187);
}

.fontTitle {
  font-family: 'Dosis', sans-serif;
  font-size: 2.3em;
  color: rgb(59, 107, 146);
  
}
.fontTech {
  font-family: 'Antic Slab', serfi;
  font-size: 2em;
  
}

.webTitle {
  font-family: 'Dosis', sans-serif;
  font-size: 3.5em;
}
.header {
  font-family: 'Dosis', sans-serif;
  font-size: 3em;
  color: #25435C;
}

.fontBody {
  font-family: 'Antic Slab', serif;
  font-size: 1.1em;
}

.section-padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

.aboutMeBox {
  margin-top: 3%;
  background-color: rgba(245, 245, 245, 0.603);
}

.profilePic {
  width: 340px;
  height: 400px;
}

.footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
  border-top: .25ex solid black;
  background-color: #4E81AB;
}

.footer-icon {
  padding: 2px 10px;
}

.projectFont{
  font-family: 'Antic Slab', serif;
  font-size: 1.3em;
}

nav > a {
  color: black;
}

nav > a:hover{
  color: #eb94b2;
}

div > a {
  color: black;
}

div > a:hover{
  color: #eb94b2;
  text-decoration: underline;
}
