
/* parallaxes settings */
.parallax {
  /* The image used */
  background-image: url("/assets/pablo-gentile-587380-unsplash.jpg");
  /* Set a specific height */
  height: 100vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-middle {
  background-image: url("/assets/benjamin-hung-340384-unsplash.jpg");
  /* Set a specific height */
  height: 70vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-bot{
  background-image: url("/assets/clem-onojeghuo-486844-unsplash_Fotor.jpg");
  /* Set a specific height */
  height: 80vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position-y: 20%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* parallaxes */

.transparentCover {
  background-color: #ffffff71;
  width: 60%;
  position: absolute;
  top: 10%;
  left: 20%;
}
/* Jumbotron settings */
.text-pink{
    color: #eb94b2;
}

.fontTitle {
  font-family: 'Dosis', sans-serif;
  font-size: 2em;
}
.fontTech {
  font-family: 'Antic Slab', serfi;
  font-size: 2em;
}

.webTitle {
  font-family: 'Dosis', sans-serif;
  font-size: 3.5em;
}
.header {
  font-family: 'Dosis', sans-serif;
  font-size: 3em;
}

.fontBody {
  font-family: 'Antic Slab', serif;
  font-size: 1.1em;
}

.section-padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

.aboutMeBox {
  margin-top: 3%;
  background-color: rgba(245, 245, 245, 0.603);
}

.profilePic {
  width: 340px;
  height: 340px;
}

.footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
  border-top: .25ex solid black;
  background-color: #88cdffce;
}

.footer-icon {
  padding: 2px 10px;
}

nav > a {
  color: black;
}

nav > a:hover{
  color: #eb94b2;
}

div > a {
  color: black;
}

div > a:hover{
  color: #eb94b2;
  text-decoration: underline;
}
