<nav class="sticky navbar navbar-expand-lg" style="background-color: #88cdffce">
  <a class="navbar-brand fontTitle" href="#">Jorge Guerrero</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="px-5 collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#about">About</a>
      <a class="nav-item nav-link" href="#resume">Resume</a>
      <a class="nav-item nav-link" href="#portfolio">Portfolio</a>
    </div>
  </div>
</nav>
<section class="container-fluid" style="background-color: #a7cbf1;">
  <div class="row">
    <div class="col p-0 col-lg-12 col-md-6 col-sm-2">
      <div class="parallax">
        <div class="">
          <div class="transparentCover px-3 py-2">
            <h1 class="display-5 fontTitle">Building, Designing & Implementing</h1>
            <p class="lead fontBody">Starting a website it's like planting a seed. With good care and dedication it could grow into a beautiful and
              profitable tree.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="about" class="row section-padding fontBody">
    <div class="col-lg-4 text-center">
      <img src="./assets/me.jpg" class="profilePic pb-4 rounded-circle">
    </div>
    <div class="col-lg-7">
      <div class="aboutMeBox p-2">
        <h3 class="fontTitle">Little about me...</h3>
        <div class="fontBody">
          <p>19th year-old young leader. Foreign film enthusiast. Music and video games are part of my life. Studying to become
            a proud full stacked web developer. </p>
          <p>I'm a fan of the japanese culture for many reason, clean enviroment, modest look at life and very polite lifestyle.</p>
          <p>I love to help people around me. I feel like today it might be them but tomorrow I will be the one seeking for
            aid. This POV in life has helped me in different ways so don't plan to change.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <div class="parallax-middle">
        <div class="container">
          <div class="transparentCover"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="resume" class="row py-3 pl-5">
    <div class="col-lg-6 col-md-12">
      <h2 class="pt-4 pb-3 m-0 header">Education (So far)</h2>
      <div class="my-3" *ngFor="let education of this.educationInfo">
        <h5 class="fontTitle text-pink">{{education.title}}</h5>
        <p>{{education.description}}</p>
      </div>
    </div>
    <div class="col">
      <div class="row py-4">
        <div class="col">
          <span class="header">Tech Skills</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <ul class="fontTech">
            <li>
              Angular
            </li>
            <li>
              Express
            </li>
            <li>
              BootStrap 4
            </li>
            <li>
              WordPress
            </li>
            <li>
              C++
            </li>
          </ul>

        </div>
        <div class="pr-5 col">
          <ul class="fontTech">
            <li>
              HTML5
            </li>
            <li>
              CSS3
            </li>
            <li>
              SQL
            </li>
            <li>
              RESTful APIs
            </li>
            <li>
              JavaScript
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <div class="parallax-bot">
        <div class="container">
          <div class="transparentCover"></div>
        </div>
      </div>
    </div>
  </div>
  <div  id="portfolio" class="row">
    <div class="col">
      <h2 class="header pt-4 pb-3 text-center">Work Experience</h2>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-lg-6 col-md-12">
      <h5 class="fontTitle text-pink">To Do App</h5>
      <p>Developed in Angular 2. In this ToDo App has basic CRUD(create, read, update, delete) functions. With the help of bootstrap,
        googleFonts and fontAwesome libraries. Check it out
        <a href="https://github.com/jorgegro/todoApp">here</a>.</p>
      <img src="./assets/ToDoApp.png" width="100%" height="60%">
    </div>
    <div class="col">
      <div class="">
        <h5 class="fontTitle text-pink">ID generator</h5>
        <p>Developed with raw HTML, CSS and JavaScript. With this ID generator you can fill up a form that uses that information
          to populate an web id.
          <a href="https://jorgegro.github.io/idcardapp/">demo</a>
        </p>
        <div class="text-centerpb-4 pt-2">
          <img src="./assets/IdGenerator.png" alt="https://jorgegro.github.io/idcardapp/" class="border border-secondary" width="100%"
            height="60%">
        </div>
        <h5 class="fontTitle text-pink">Infant and Family Nutrition Agency</h5>
        <p>Developed a WordPress project for a non-profit organization.
          <a href="#">Infant and Family Nutrition Agency</a> their goal is to provide parental guideness for young and unexperice parents.
          All of their services are completly free. With those regiments. We could build a responsive Word Press website
          for announcements, appointments, online consultance, etc.</p>
      </div>
    </div>
  </div>
  <div class="row fontBody">
    <div class="col px-0">
      <div class="footer text-center py-2">
        <div>Jorge Guerrero</div>
        <div>
          <i class="far fa-envelope"></i> jorgegro1999@gmail.com</div>
        <a class="footer-icon" href="https://www.facebook.com/jorge.a.guerrerobarragan">
          <i class="i fab fa-facebook-square text-muted"></i>
        </a>
        <a class="footer-icon" href="https://twitter.com/jorge_gro14">
          <i class="i fab fa-twitter text-muted"></i>
        </a>
        <a class="footer-icon" href="https://github.com/jorgegro">
          <i class="i fab fa-github text-muted"></i>
        </a>
        <a class="footer-icon" href="https://www.linkedin.com/in/jorge-guerrero-222334167/">
          <i class="i fab fa-linkedin text-muted"></i>
        </a>
        <a class="footer-icon" href="https://www.instagram.com/jorgi_gro/">
          <i class="i fab fa-instagram text-muted"></i>
        </a>
        <a class="footer-icon" href="https://plus.google.com/u/0/112360755530858705087">
          <i class="i fab fa-google-plus-square text-muted"></i>
        </a>
      </div>
    </div>
  </div>

</section>
